[defaults]
host_key_checking = False
private_key_file = ~/.ssh/jenkins-key.pem
ask_pass = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey